<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
           id="com.phonegap.plugins.socket"
      version="0.1.0">
    <name>Socket</name>
    <description>Sample Socket Connection Plugin</description>
    <license>MIT</license>
    <keywords>phonegap,calendar</keywords>


    <js-module src="www/socket.js" name="Socket">
        <clobbers target="window.socket" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="Socket">
                <param name="android-package" value="com.phonegap.plugins.socket"/>
            </feature>
        </config-file>

        <source-file src="src/android/SocketPlugin.java" target-dir="src/com/phonegap/plugins/socket" />      
     </platform>          
</plugin>